.TopNews {
    padding: 10px;
}

.TopNews ul a {
    text-decoration: none;
    border-right: none;
    border-left: none;
}

.TopNews ul a:first-child {
    border-top: none;
}

.TopNews ul a:last-child {
    border-bottom: none;
}