.Category {
    padding: 10px;
}

.Category ul a {
    text-decoration: none;
    border-right: none;
    border-left: none;
}

.Category ul a:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.Category ul a:last-child {
    border-bottom: none;
}