.Login {
    width: 300px;
    margin: 200px auto auto;
}

.Login a {
    float: left;
}

.Login button {
    float: right;
}

.Login input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Login .alert {
    margin-top: 100px;
}