.Registration {
    margin-top: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.Registration-Form {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Registration-Form-FormGroup {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Registration-Form-Alert {
    margin-top: 50px;
}